
.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: -16px;
  background-color: #558D8B;
  height: 17vh; 
  padding-left: 2vw;
  padding-right: 2vw;
}

.Image{
  position: absolute;
  top: 6vh;
  left: 5vw;
  width: 90vw;
  height: 22vh;
  background-size: cover;
  color: #fff;
}

.informacao{
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.Logo{
  font-family: 'Bahnschrift';
}

.QuemSomosNos{
  font-weight: bold;
  font-size: large;
}

.FaleConosco{
  font-weight: bold;
  font-size: large;
}

.Shop{
  display: flex;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

.MenuLateral svg{
  display: flex;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

.slide-item{
  border-radius: 0.3em;
  box-shadow: 0.5em 0.2em 0.5em #CCCCCC;
  width: 95vw;
  height: 30vh;
}

.Carrossel{
  margin-top: 2vh;
}

#CarrosselSlider .swiper-button-next,
#CarrosselSlider .swiper-button-prev {
    color: #f2f2f2; /* Cor do ícone ou texto dentro do botão, se aplicável */
}

#CarrosselSlider .swiper-pagination-bullet {
  background-color: #ffffff; /* Cor dos pontos de paginação, se aplicável */
}

.Conj_Card{
  display: flex;
  justify-content: space-around;
  padding-top: 2vh;
}
